body{
    background-color: aliceblue;
}

h1{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    padding: 40px 0;
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 32px;

}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

a{
    text-decoration: none;
}
emp{
    font-weight: bold;
    text-decoration: underline;
}

#currentTime{
    float: right;
    font-family: 'Merriweather', serif;
    font-size: 32px;
}

.quiz-questions{
    padding: 40px 100px;
    text-align: center;
}


.leader-btn, .back{
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 10px 10px;
    padding: 20px 35px;
    background-color: darkviolet;
}


.start-btn, .reset{
    font-family: 'Merriweather', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 100px 0;
    padding: 20px 80px;
    background-color: darkviolet;
}

.start-btn:hover{
    background-color: blueviolet;
    transition: 0.1s;
}